main{
  width: 100%;
}

a{
  text-decoration: none;
}

.my_page{
  text-align: center;
  width:90%;
  min-height:60vh;
  margin: auto;
  padding-bottom: 30px;
  background-color: white;
      border: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 2%;
  margin-bottom: 50px;
}

.my_page button{
  margin-top: 1vh;
  padding: 1vw;
  background-color: white;
  border:0; 
}

.my_page button:hover{
  font-weight: bold;
}

.my_buy{
  padding: 30px;
}
.orderTbl{
  width: 90%;
  margin: auto;  
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-top: 3%;
}

#orderDetailNo a{
  color: #000000;
}

/* 페이징 부분 시작 */
.pagination{
  list-style: none;
  height: 5vh;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.page-item{
  float: left;
  text-align: center;
}

.page-item a{
  color: black;
  padding: 1vw;
  border: 0; 
}
.page-item a:focus, .page-item a:hover{
  font-weight: bold;
  color:black;
}

.now-item a{
	font-weight: bold;
}

/* 페이징 부분 끝 */

.thead{
  /* background-color: rgb(0, 0, 0); */
  color: rgb(0, 0, 0);
  font-size: larger;
  font-weight: bold;
  height: 30px;
  text-align: center;
}

.thead td{
	width: 200px;
}
#productName{
  font-weight: bold;
}

#productName:hover{
  color: darkviolet;
}


#buy_img{
  margin-left: 20px;
  width: 150px;
  height: 150px;
  float: left;
  border: 1px solid gray;
  margin-right: 40px;
}


#orderNo{
  width: 100px;
  text-align: center;
}

.refund_div{
  display: none;
  
}


#orderDate{
  width: 200px;
  text-align: center;
}

