

.my_menu{
    margin-top: 1%;
    /* position: fixed; */
    margin-left: 3%;
    float: left;
    width: 230px;
    padding: 30px;
    border: 1px solid black;
    /* overflow: hidden; */
    background-color: white;
}

.my_menu button{
    font-size: large;
    border: 0;
    background-color: white;
}

.my_menu button:hover{
    font-size: larger;
    font-weight: bold;
}